/* fonts */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-ExtraBold.woff2') format('woff2'),
         url('../fonts/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
  }

@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2'),
         url('../fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2'),
         url('../fonts/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2'),
         url('../fonts/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2'),
         url('../fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Light.woff2') format('woff2'),
         url('../fonts/Pretendard-Light.woff') format('woff');
    font-weight: 300;
  }
  


html {font-size:20px}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4,h5, form, fieldset, p, button, input {
	margin:0;
	padding:0;
	font-family: 'Pretendard', 'Noto Sans KR', 'NanumGothic', '나눔고딕', '돋움', 'dotum', 'sans-serif';
	line-height:1.5;
}

input, select {
	vertical-align:middle;
	color:#111;
	border-radius:8px;
	outline: none;
	box-sizing: border-box;
	line-height:1.5
}

input::placeholder{color: #ccc;}

a {text-decoration:none}
button {background: none; border:none; cursor:pointer; outline: none;}


input, textarea, button{appearance: none; -moz-appearance: none; -webkit-appearance: none;}

img, fieldset {border:none}
ul li {	list-style:none outside none}
ol li {	list-style:none outside none}

caption, legend {
	position:absolute;
	top:0;
	left:-999em;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	text-align:left;
	overflow:hidden;
	visibility:hidden;
}

strong {font-weight:700}

table {table-layout:fixed;word-break:break-all}

textarea {width: 100%; color: #333; font-size: .8rem; font-family: 'Pretendard'; border:1px solid #ddd; overflow-y:auto; line-height:auto;
	letter-spacing:1px; resize:none; outline: none;}
textarea::placeholder{color: #ddd; font-size: .8rem; font-family: 'Pretendard';}

.inner{width: 100%; max-width: 1600px; margin: 0 auto;}
